<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <noscript><meta http-equiv="refresh" content="5; url=<%= @url %>" ></noscript>
    <script>document.cacheReady = function(){ window.location = "<%= @url %>";}</script>
    <title>cache updater</title>
  </head>
  <body>
    waiting...
    <iframe src="/cache_updater.html" style="visibility: hidden; width:1px; height: 1px;"></iframe>
  </body>
<html>
