= form_for @ingredient do |f|
  - if @ingredient.errors.any?
    #error_explanation
      h2 = I18n.t 'errors.save_failed', errors: "#{pluralize(@ingredient.errors.count, I18n.t(:error))}", model_name: Ingredient.model_name
      ul
        - @ingredient.errors.full_messages.each do |message|
          li = message
  .field
    = f.split_float_fields :quantity, autocomplete: :off
    |g
  fieldset
    / if name matches existing nutrient, auto-fill next fields
    / otherwise display 'lookup' button
    .field
      = f.label :name
      = f.text_field :name, tabindex: 11
    .field
      = f.split_float_fields :carbs
      | g / 100g
    .field
      = f.split_float_fields :proteins
      | g / 100g
    .field
      = f.split_float_fields :fat
      |g / 100g
    .field
      = f.split_float_fields :calories
      |kCal / 100g
    .field
      input(type="checkbox" name="ingredient[save_as_favorite]" value="1") = t('.add_to_favorites')

  .actions
    button(id="save") = t(:save)

coffee:
  $form = ->
    $("form[class$='ingredient']")
  findInput = (attr_name) ->
    $form().find("input[name='ingredient\[#{attr_name}\]']")
  getNumberValue = (attr_name) ->
    $input = findInput(attr_name)
    value = $input.get(0).valueAsNumber
    value = parseFloat($input.val().replace(',', '.')) if isNaN(value)
    value = 0.0 if isNaN(value)
    console.log "#{attr_name} #{value}"
    value
  $(document).on 'ready page:load', ->
    $("#save").on 'click', ->
      action = $form().attr('action')
      authenticity_token = $form().find("input[name='authenticity_token']").val()
      _method = $form().find("input[name='authenticity_token']")
      method = $form.attr('method')
      method = _method.val() if _method
      data =
        name: findInput("name").val()
        carbs: getNumberValue("carbs")
        proteins: getNumberValue("proteins")
        fat: getNumberValue("fat")
        calories: getNumberValue("calories")
        quantity: getNumberValue("quantity")
        authenticity_token: authenticity_token
       data['save_as_favorite'] = true if findInput('save_as_favorite').is(":checked")
      $.ajax
        type: method
        url: action
        data: JSON.stringify({ingredient: data})
        contentType: 'application/json; charset=UTF-8'
        success: ->
          parts = window.location.href.split('/')[0..-3]
          window.location=parts.join('/')
      false
