= form_for @blood_sugar_reading do |f|
  - if @blood_sugar_reading.errors.any?
    #error_explanation
      h2 = "#{pluralize(@blood_sugar_reading.errors.count, "error")} prohibited this blood_sugar_reading from being saved:"
      ul
        - @blood_sugar_reading.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :value
    = f.number_field :value
  .field
    = f.label :read_time
    = f.datetime_local_select :read_time

  .actions = f.submit
