/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-typeahead-rails
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

table {
  @extend .table;
}

input[type='submit']{
  @extend .btn;
  @extend .btn-default;
}

nav {
  @extend .navbar;
  @extend .navbar-default;
  @extend .navbar-inverse;
  @extend .navbar-static-top;
  & > div {
    @extend .container-fluid;
    & > div.toggler {
       @extend .navbar-header;
       & > button {
         @extend .navbar-toggle;
       }
    }
    & > div.menu {
      @extend .collapse;
      @extend .navbar-collapse;
      & > ul {
        @extend .nav;
        @extend .navbar-nav;
      }
    }
  }
}

form {
  label:first-child { width: 8em; text-align: right; margin-right: 0.5em;}
  .carbs, .proteins, .fat, .calories {
    input:nth-child(2) { width: 3em; text-align: right;}
    input:last-child { width: 3em; margin-right: 0.5em; }
    display: inline-block;
  }
  .quantity {
    input:nth-child(2) { width: 6em; text-align: right;}
    input:last-child { width: 3em; margin-right: 0.5em; }
    display: inline-block;
  }
}

// bundle same days visually in the table
tr {
  // give all day table rows fat border top
  &.Monday, &.Tuesday, &.Wednesday, &.Thursday, &.Friday, &.Saturday, &.Sunday{
    border-top: 2px dotted #cccccc;
  }
  // except if they are preceded by a row from the same day
  &.Monday + &.Monday,
  &.Tuesday + &.Tuesday,
  &.Wednesday + &.Wednesday,
  &.Thursday + &.Thursday,
  &.Friday + &.Friday,
  &.Saturday + &.Saturday,
  &.Sunday + &.Sunday{
    border-top: 1px dotted silver;
  }
  // if it is the first row in the body
  &:first-child{
    &.Monday, &.Tuesday, &.Wednesday, &.Thursday, &.Friday, &.Saturday, &.Sunday{
      border-top: none;
    }
  }
}
